.hero {
  background-image: url("https://source.unsplash.com/1280x720/?random");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
}
